/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightblue;
}

.headline {
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 40%; /* Set the width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.listing-item {
  border: 4px solid black; /* Border around the container */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add some padding for space between content and border */
  margin-bottom: 15px;
}